*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe UT', Tohoma, Geneva, Verdana, sans-serif;
}

body {
   background-color: #141414;
   color:aliceblue
}

/*Header e Navbar*/
header {
    background-color: #141414;
    padding: 1rem 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo span {
    color: #e50914;
}

#searchInput {
    padding:8px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.hero {
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
}

.movie-container{
    display: grid;
    grid-template-columns: repeat
}